#background_popup{
	position:fixed;
	height:100%;
	width:100%;
	background-color:rgba(15, 0, 0, 0.1);
	top:0px;
	left:0px;
	display:none;
}
#popup{
	margin:auto;
	width:850px;
	height:600px;
	position:fixed;
	background-color:white;
	left:0px;
	right:0px;
	top:18%;
	overflow:hidden;
	border:1px outset black;
}
#exit{
	width:30px;
	height:30px;
	right:24.75%;
	border-radius:20px;
	border:2px solid black;
	cursor:pointer;
	position:fixed;
}
#xxxx{
	text-align:center;
	font-weight:bold;
	font-family:sans-serif;
	font-size:44px;
	margin:-22px 0px 0px 0px;
	position:fixed;
}
#boxregister{
	margin-top:150px;
}
		#top{
			margin:-20px 0px 0px 0px;
			padding:0px;
			background-color:red;
		}
		hr{
			border:1px solid green;
		}
		#rrrr{
		   margin:0px 0px 50px 0px;
		   padding:25px 0px 0px 0px;
		}
		