#div_shoppingCartItemsArea {
	width:100%;
}
	.div_shoppingCartItem {
		width:100%;
		background-color:#e6f5aa;
		border:1px solid;
	}
#div_orderArea {
	
}
	#form_order {
		
	}
		.tableData_orderInput {
			width:80%;
		}
		#button_order {
			width:100%;
		}
